name: Secure CI Pipeline

on: 
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build-and-scan:
        runs-on: ubuntu-latest
        
        permissions:
            contents: read
            packages: write
            security-events: write
        
        env:
          IMAGE_OWNER: ${{ github.repository_owner }}
          IMAGE_REPO: cicdproject
          IMAGE_NAME: users-service
          IMAGE_TAG: latest
        
        steps:
            #setting up python
            - name: Fetch Code
              uses: actions/checkout@v4
            
            - name: Install Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"
            
            - name: Install Dependencies
              run: |
                pip install -r app/users/requirements.txt
                pip install bandit semgrep
            
            - name: Convert Owner to lowercase
              run: echo "IMAGE_OWNER_LC=${IMAGE_OWNER,,}" >> $GITHUB_ENV

            #setting up security scanning

            - name: Run Bandit
              continue-on-error: true
              run: bandit -r app/users -f xml -o banditreport.xml
            
            - name: Run Semgrep
              continue-on-error: true
              run: semgrep ci --config p/ci --json > semgrep.json #p/ci is a set of rules in semgrep that run general purpose checks in a CI pipeline code

            - name: Disable Buildkit
              run: echo "DOCKER_BUILDKIT=0" >> $GITHUB_ENV
            
            #building the docker image

            - name: Build Image
              run: docker build -t ghcr.io/${IMAGE_OWNER_LC}/${IMAGE_NAME}:${IMAGE_TAG} app/users
            
            # Using Trivy to scan the image

            - name: Trivy Scan
              continue-on-error: true
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: ghcr.io/${{(env.IMAGE_OWNER_LC)}}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
                format: table
                output: trivy-report.txt

            # Login to GCHR

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{github.actor}}
                password: ${{secrets.GITHUB_TOKEN}}

            # Push the image to GCHR

            - name: Push Image
              run: docker push ghcr.io/${IMAGE_OWNER_LC}/${IMAGE_NAME}:${IMAGE_TAG} 
            
            #creating artifacts

            - name: Upload Bandit Report
              uses: actions/upload-artifact@v4
              with:
                name: bandit-report
                path: banditreport.xml

            - name: Upload Semgrep Report
              uses: actions/upload-artifact@v4
              with:
                name: semgrep-report
                path: semgrep.json

            - name: Upload Trivy Report
              uses: actions/upload-artifact@v4
              with:
                name: trivy-report
                path: trivy-report.json
            

            
